<article class="intro">
	<p>	
		Vul hieronder de dikte C-EPS systeem in van de hoge rug in de gootbaan.
	</p>
	<hr class="fa fa-chevron-down medium"/>
</article>

<form ng-submit="fire('confirm_form')" ng-if="mode=='form'" ng-init="initentryform(this);">
	<label>Dikte isolatie + Betopor<sup>&reg;</sup> bij punt A<sub>1</sub>:</label>
	<input name="height_A" type="number" ng-model="data['A'].height" min="0" max="999" placeholder="Dikte in mm..."/>
	
	<input type="submit" value="Go" ng-click="fire('confirm_form')" style="visibility:hidden"></input>
</form>